$general-font: "Roboto", sans-serif;
$general-font-color: #1d1d1d;
$medium-font-color: #626262;
$dark-background: #262626;
$light-border-background: #e0e0e0;
$light-theme-color: #fff;
$maxwidth: 962px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $general-font;
  color: $general-font-color;
}

.logo-uber img {
  width: 100%;
}

/* Header */
@import "./scss/header.scss";

/*Main content*/
@import "./scss/main_content.scss";
@import "./scss/infocard.scss";

/* Footer */
@import "./scss/footer.scss";

/*Adapting*/
@media (min-width: 320px) and (max-width: 639px) {
  $maxwidth: 320px;
  .major-header {
    &--content {
      max-width: $maxwidth;
    }
    
    .logo-uber {
      width: 30%;
    }

    &__location {
      display: none;
    }

    &__reg--button {
      width: 72px;
    }

    &__basket {
      display: none;
    }
  }

  .main {
    max-width: $maxwidth;
    
    &__search {
      font-size: 13px;
      margin-bottom: 24px;
    }
    
    &__location {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-auto-rows: auto;
      grid-gap: 8px 16px;
      margin-bottom: 40px;
      font-size: 11px;
    }

    &__location input {
      height: 40px;
      width: 100%;
      border: 1px solid $light-border-background;
      box-sizing: border-box;
      border-radius: 2px;
      color: $general-font-color;
      font-family: $general-font;
      font-size: 13px;
      line-height: 24px;
    }

    &__location--when {
      text-align: center;
      padding: 0 6px;
    }

    &__location--to {
      padding: 0 6px 0 36px;
      background: url(images/location.svg) 12px  no-repeat;
      background-size: 14px auto;
    }
  }

  .catalog {
    grid-template-columns: 1fr;
  }

  .footer--content {
    max-width: $maxwidth;
  }

  .footer__info-about {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: 492px;
    
    &--language {
      width: 173px;
    }
  }

  .footer__download {
    height: 84px;

    & a {
      width: 109px;
      height: 36px;
      margin: 20px;
    }
  }

  .footer__bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: 167px;
  }
}


@media (min-width: 640px) and (max-width: 1023px) {
  $maxwidth: 768px;
  .major-header {
    &--content {
      max-width: $maxwidth;
    }

    .logo-uber {
      width: 18%;
    }

    &__location {
      font-size: 13px;
    }

    &__location input {
      font-size: 13px;
    }

    &__location--when {
      max-width: 57px;
    } 

    &__location--to {
      max-width: 215px;
    }

    &__basket {
      width: 30px;
      margin: 0 6px 0 12px;
    }
  }

  .main {
    max-width: $maxwidth;
  }

  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .footer--content {
    max-width: $maxwidth;
  }

  .footer__info-about--language {
    width: 176px;
  }
}
